---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: clustergkmcaches.gkm.io
spec:
  group: gkm.io
  names:
    kind: ClusterGKMCache
    listKind: ClusterGKMCacheList
    plural: clustergkmcaches
    singular: clustergkmcache
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.conditions[0].reason
      name: Status
      type: string
    - jsonPath: .status.counts.nodeCnt
      name: Nodes
      type: string
    - jsonPath: .status.counts.nodeInUseCnt
      name: Node-In-Use
      type: string
    - jsonPath: .status.counts.nodeNotInUseCnt
      name: Node-Not-In-Use
      type: string
    - jsonPath: .status.counts.nodeErrorCnt
      name: Node-Error
      type: string
    - jsonPath: .status.counts.podRunningCnt
      name: Pod-Running
      type: string
    - jsonPath: .status.counts.podOutdatedCnt
      name: Pod-Outdated
      type: string
    - jsonPath: .status.lastUpdated
      name: Last=Updated
      priority: 1
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          ClusterGKMCache is the Schema for the cluster scoped GKMCaches API. Using
          this API allows applications to pre-populate a GPU Kernel Cache in a Pod,
          allowing the application to avoid having to build the kernel on the fly. The
          cache is packaged in an OCI Image, which is referenced in the
          ClusterGKMCache.

          The ClusterGKMCache.status field can be used to determine if any error
          occurred in the loading of the GPU Kernel Cache. Because one image can be
          loaded on multiple Kubernetes nodes, ClusterGKMCache.status is just a
          summary, all loaded or something failed. GKM creates a ClusterGKMCacheNode
          CR instance for each Kubernetes Node for each ClusterGKMCache instance. The
          ClusterGKMCacheNode CRD provides load status for each GPU Kernel Cache for
          each GPU on the node.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              spec defines the desired state of the ClusterGKMCache instance and describes
              a GPU Kernel Cache that can be volume mounted in a Pod. The GPU Kernel Cache
              is packaged in an OCI Image which allows the cache to be distributed to
              Kubernetes Nodes, where it is extracted to host memory.
            properties:
              image:
                description: |-
                  image is a required field and is a valid container image URL used to
                  reference a remote GPU Kernel Cache image. url must not be an empty string,
                  must not exceed 525 characters in length and must be a valid URL.
                maxLength: 525
                pattern: '[a-zA-Z0-9_][a-zA-Z0-9._-]{0,127}'
                type: string
            required:
            - image
            type: object
          status:
            description: |-
              status reflects the observed state of a ClusterGKMCache instance and
              indicates if the GPU Kernel Cache for a given instance has been loaded
              successfully or not and if it has been mounted in any pods across all nodes.
              Use ClusterGKMClusterNode instances to determine the status for a given node.
            properties:
              conditions:
                description: |-
                  conditions contains the summary state for the GPU Kernel Cache for all the
                  Kubernetes nodes in the cluster.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              counts:
                description: |-
                  counts contains statistics on the deployment of the GPU Kernel Cache for all
                  the Kubernetes nodes in the cluster.
                properties:
                  nodeCnt:
                    description: |-
                      nodeCnt contains the total number of nodes used in the collection of
                      counts. For GKMCacheNode and ClusterGKMCacheNode, the value will be one.
                      For GKMCache and ClusterGKMCache, the value will be number of nodes GKM is
                      deployed on.
                    type: integer
                  nodeErrorCnt:
                    description: |-
                      nodeErrorCnt contains the total number of nodes that the Kernel Cache
                      encounter an error. An error occurs if the OCI Image could not be extracted
                      because of an error in the image, or if the Kernel Cache is not compatible
                      with any of the GPUs detected on the Kubernetes node.
                    type: integer
                  nodeInUseCnt:
                    description: |-
                      nodeInUseCnt contains the total number of nodes that the Kernel Cache has
                      been extracted and that the Kernel Cache is currently being used by one or
                      more pods on that node.
                    type: integer
                  nodeNotInUseCnt:
                    description: |-
                      nodeNotInUseCnt contains the total number of nodes that the Kernel Cache
                      has been extracted and that the Kernel Cache is not currently being used by
                      a pod on that node.
                    type: integer
                  podOutdatedCnt:
                    description: |-
                      podOutdatedCnt contains the total number of pods that the Kernel Cache is
                      volume mounted, but a newer version of the extracted Kernel Cache has been
                      extracted. This happens when a Kernel Cache is being used, but the
                      associated OCI Image was updated.
                    type: integer
                  podRunningCnt:
                    description: |-
                      podRunningCnt contains the total number of pods that the Kernel Cache is
                      volume mounted.
                    type: integer
                required:
                - nodeCnt
                - nodeErrorCnt
                - nodeInUseCnt
                - nodeNotInUseCnt
                - podOutdatedCnt
                - podRunningCnt
                type: object
              lastUpdated:
                description: |-
                  lastUpdated contains the timestamp of the last time the status field for
                  this instance was updated.
                format: date-time
                type: string
              resolvedDigest:
                description: resolvedDigest contains the digest of the image after
                  it has been verified.
                type: string
            required:
            - counts
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
